---
layout: page
title: Hem
permalink: /
order: 1
---

<!-- Slider Start -->
<section id="slider" data-background="derby">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated fadeInUp center">VÄLKOMMEN TILL NÄTET!</h1>
          <p class="animated fadeInUp">På Förskolan Nätet älskar vi att vara utomhus; i skogen, på vår fina utegård eller vid havet i närheten. Barnen får följa naturens växlingar och lära sig om stort och smått, använda sin upptäckarglädje och öva motoriken.</p>
          <p class="center">
            <a class="animated fadeInUp btn btn-default btn-call-to-action" href="https://www.karlskrona.se/skola-och-forskola/forskola-och-pedagogisk-omsorg/anmal-barnomsorg/" target="_blank">Anmäl er idag!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll_down">
    <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i
  <div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Grön Flagg</h2>
            <p>Lärande om hållbar utveckling för barn och unga.</p>
          </div>
          <p>Grön Flagg är Håll Sverige Rents program som hjälper lärare och pedagoger att väcka upptäckarglädje kring hållbarhetsfrågor. Sedan 1996 har vi certifierat tusentals skolor och förskolor som granskats enligt Håll Sverige Rents kriterier.</p>
          <p>Målet med Grön Flagg är att barn och unga deltar i, planerar och genomför aktiviteter för hållbar utveckling. Tillsammans skapar vi nyfikenhet och ett långsiktigt engagemang i arbetet med social, ekonomisk och ekologisk hållbarhet.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-6 col-sm-offset-3">
        <div class="block">
          <a href="https://www.hsr.se/gron-flagg"><img src="img/gronflagg.jpg" alt="Grön flagg"></a>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Nära naturen</h2>
            <p>Friluftsförskolan Nätet är ett föräldrakoperativ i Nättraby som sätter stort fokus på djur och natur.</p>
          </div>
          <p>Vi är knutna till Frilufsfrämjandet och bedriver Knoppis-, Knytte- och Mulleverksamhet. Det innebär att vi ofta är ute i skogen och bedriver utomhuspedagogik.</p>
          <p>Vår kock, Jimmy, lagar all mat från grunden och han har stort fokus på att använda ekologiska och närproducerade råvaror. På Nätet prioriteras en hög personaltäthet, vårt mål är att alltid ha högre personaltäthet än vad som erbjuds i den kommunala förskolan.</p>
          <p>Vår vision är; Med fokus på positiva naturupplevelser har vi den bästa barnomsorgen. Föräldraengagemang och gemenskap skapar ett tryggt nätverk, nu och i framtiden!</p>
          <p><b>Välkommen till oss!</b></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-6 col-sm-offset-3">
        <div class="block">
          <a href="https://www.friluftsframjandet.se/detta-gor-vi/forskolor-och-skolor/"><img src="img/friluftsframjandet.jpg" alt="Friluftsfrämjandet"></a>
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="jimmy">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>EKOLOGISK, KRAVMÄRKT OCH NÄRPRODUCERAD MAT</h2>
      <blockquote>
        – Det bästa jag vet är att hjälpa barnen att upptäcka nya smaker, därför har vi en väldigt varierad meny.
      </blockquote>
      <p>Så säger Nätets alldeles egna kock, Jimmy Blomkvist, som lägger stort fokus på att maten som serveras ska vara närproducerad och ekologisk.</p>
      <p>Det är tisdagsförmiddag när vi träffar Jimmy Blomkvist, som tidigare har jobbat som kock på bland annat Santorini, Sjöofficersmässen och Montmartre. Han håller precis på att sätta en bulldeg. I ugnen står åtta formar och puttrar.</p>
      <p><i>– Idag blir det en klassiker, lasagne och pizzasallad, säger Jimmy samtidigt som han sätter igång degblandaren.</i></p>

      <p>Varannan måndag brukar Jimmy gå runt med block och penna och låta barnen önska sig rätter. Utefter deras önskemål sätter han sedan samman en meny.</p>
      <p><i>– En dag i veckan brukar vi köra vegetariskt och en dag blir det fisk. På torsdagar är det soppa.</i></p>

      <p>Det tar inte många minuter att inse att Jimmy brinner för att laga bra mat. Och allt görs från grunden. Från brödet till müslin och potatismoset.</p>
      <p><i>– Jag jobbar mycket med inköpen, att ha bra råvaror är viktigt.</i></p>

      <p>Ungefär 90 procent av det som serveras är ekologiskt och närproducerat. Målet är att nå upp till 100 procent och Jimmy jobbar hårt för att så lite mat som möjligt ska slängas.</p>
      <p><i>– Det känns som ett onödigt resursslöseri att kassera mat. Jag brukar till exempel använda potatis och gröt som blivit över när jag bakar bröd.</i></p>

      <p>Tre till fyra gånger per termin hänger Jimmy med resten av förskolan ut i skogen och lagar mat över öppen eld.</p>
      <p><i>– Jag älskar att ge barnen nya smakupplevelser, att hjälpa dem att upptäcka nya favoriter, inte minst från det vegetariska köket. Och så gillar jag deras ärlighet – om de gillar något får man snabbt höra det. Och även det omvända så klart, säger han och skrattar till.</i></p>
      <a href="/matsedel.html" class="btn btn-view-works">Titta på menyn</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="divisions">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Avdelningarna</h2>
        <p>På Nätet har vi åldersindelade barngrupper, då vi vill utgå från barnens olika behov och intressen. Vi försöker vara utomhus så mycket som möjligt men vi är även stolta över vår fina inomhusmiljö – våra lokaler i Nättraby är rymliga och ändamålsenliga.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-6">
        <div class="divisions-item">
          <img src="/img/tallen.png" />
          <h4>Tallen</h4>
          <p>Tallen är där de minsta barnen börjar och får sitt första möte med förskolan och personalen. Vi är fyra pedagoger som jobbar på Tallen. På avdelningen arbetar vi mycket med tryggheten som grund. Vi utgår från att barnet ska få utvecklas i sin egen takt, känna gemenskap, ha roligt och känna trygghet med både pedagogerna, föräldrarna och de andra barnen i gruppen. Vi har ett temainriktat arbetsätt och har utomhusvistelse i fokus. Vi arbetar mycket med ramsor, sagopåsar och sånger på samlingarna för att på ett lekfullt sätt öva på språket och få en bra gemenskap. Motoriken tränar vi på hela tiden men lite extra på våra gymnastikpass och vid promenader och lek i skog och mark.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="divisions-item">
          <img src="/img/granen.png" />
          <h4>Granen</h4>
          <p>Granen är för barn från tre år och uppåt, och här arbetar fem pedagoger. Vi jobbar mycket med värdegrunder och hur man är en bra kompis. På samlingarna jobbar vi med sånger, vardagsmatematik, språk och ramsor. Vi har ett temainriktat arbetsätt vilket formar vår verksamhet. Vi fokuserar mycket på utevistelsen och spenderar flera samlingstillfällen och måltider i skogen eller på vår fina gård. Barnen får bra grovmotorisk träning då de utmanas i skogen. På avdelningen jobbar vi även med rutiner som till exempel att klä på sig och klä av sig, gå på toaletten och hur man ska bete sig vid matbordet. Vi tycker att det är positivt för barnets självkänsla att kunna själva!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <p>På båda avdelningarna försöker vi knyta ihop det vi gör ute och inne, t ex att ha olika djur- och naturteman samt att använda sånt vi kan hitta utomhus i vårt inomhuspyssel. Idag har vi sammanlagt ca 40 barn på de båda avdelningarna.</p>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>VÄLJA NÄTET SOM FÖRSKOLA</h2>
          <p>För att få plats på Nätet anmäler du ditt barn till den kommunala barnomsorgskön i Karlskrona kommun.
          <br/>Du kan anmäla ditt barn direkt via barnomsorgens webbtjänst, och väljer där alternativet Nätet.</p>
          <p><b>Tänk på att det räcker inte att bara ange Nättraby i din ansökan för att få en plats hos oss. Du måste alltså specifikt välja Nätet.</b></p>
          <p>Mer information om anmälan hittar du på <a href="https://www.karlskrona.se/skola-och-forskola/forskola-och-pedagogisk-omsorg/anmal-barnomsorg/" target="_blank">Karlskrona kommuns webbplats Barn & Utbildning</a> eller ring kommunens växel på <a href="callto:+46455303000">0455-303000</a>.</p>
          <a class="btn btn-default btn-call-to-action" href="https://www.karlskrona.se/skola-och-forskola/forskola-och-pedagogisk-omsorg/anmal-barnomsorg/" target="_blank">Anmäl er idag!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
{% if testimonials.length > 0 %}
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>TRE FAMILJER OM HUR DE SER PÅ NÄTET</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in testimonials %}
            <div>
              <div class="user">
                {% if tm.image %}
                  <img src="{{ tm.image }}" alt="People">
                {% endif %}
                <p><span>{{ tm.name }}</span></p>
              </div>
              <img src="img/cotation.png" alt="IMG">
              {{ tm.testimonial | markdownit }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a class="btn btn-default btn-call-to-action" href="https://www.karlskrona.se/skola-och-forskola/forskola-och-pedagogisk-omsorg/anmal-barnomsorg/" target="_blank">Anmäl er idag!</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
